@import "../../styles/variables.scss";
@import "../../styles/themes.scss";

$c_primary: map-get($colors, "primary");
$c_on_primary: map-get($colors, "onPrimary");

.rounded_button {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10rem;
  transition: $fast-transition;
  &:hover {
    box-shadow: $tight-smooth-shadow;
  }
}

.btn_primary {
  color: $c_on_primary;
  background-color: $c_primary;
  &:active {
    background-color: darken($c_primary, 15%);
  }
}

.btn_google {
  color: white;
  background-color: red;
  &:active {
    background-color: darken(red, 15%);
  }
}
