@import "../../styles/variables.scss";
@import "../../styles/themes.scss";

$c_primary: map-get($colors, "primary");
$c_on_primary: map-get($colors, "onPrimary");

.rounded_button {
  font-size: large;
  font-weight: normal;
  cursor: pointer;
  border-radius: 10rem;
  padding: 0.5rem;
  transition: $basic-transition;
  box-shadow: none;
  &:hover {
    box-shadow: $tight-smooth-shadow;
  }
}

.btn_primary {
  color: $c_on_primary;
  background-color: $c_primary;
  &:active {
    background-color: darken($c_primary, 15%);
  }
}

.btn_google {
  color: white;
  background-color: #cf4332;
  &:active {
    background-color: darken(#cf4332, 15%);
  }

  img {
    height: 1.5rem;
    background-color: transparent;
  }
}
